<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>评论审核管理页面</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.chenjianlink.cn/static/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.chenjianlink.cn/static/jquery-easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/eazyui-style.css}">
    <script type="text/javascript" src="https://cdn.chenjianlink.cn/static/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.chenjianlink.cn/static/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="https://cdn.chenjianlink.cn/static/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript">
        function commentReview(state) {
            var selectedRows = $("#dg").datagrid("getSelections");
            if (selectedRows.length == 0) {
                $.messager.alert("系统提示", "请选择要审核的评论！","info");
                return;
            }
            var strIds = [];
            for (var i = 0; i < selectedRows.length; i++) {
                strIds.push(selectedRows[i].id);
            }
            var ids = strIds.join(",");
            $.messager.confirm("系统提示", "您确定要审核这<font color=red>" + selectedRows.length + "</font>条评论吗？", function (r) {
                if (r) {
                    $.ajax(
                        {
                            url: "/admin/commentManage/comment/" + ids,
                            type: 'PUT',
                            data: {'state': state},
                            success: function (result) {
                                if (result != null && result.status == 500) {
                                    $.messager.alert("系统提示", "审核提交失败！","error");
                                    $("#dg").datagrid("reload");
                                } else {
                                    $.messager.alert("系统提示", "审核提交成功！","info");
                                    $("#dg").datagrid("reload");
                                }
                            },
                            error: function () {
                                $.messager.alert("系统提示", "审核提交失败！","error");
                                $("#dg").datagrid("reload");
                            }
                        });
                }
            });
        }


        function formatBlogTitle(val, row) {
            if (val == null) {
                return "<font color='red'>该日志已被删除！</font>";
            } else {
                return "<a target='_blank' href='/blog/articles/" + val.id + "'>" + val.title + "</a>";
            }
        }

        function closeCommentDialog() {
            $("#contentPre").empty();
            $("#dlg").dialog("close");
        }

        function openCommentViewDialog() {
            var selectedRows = $("#dg").datagrid("getSelections");
            if (selectedRows.length != 1) {
                $.messager.alert("系统提示", "请选择一条要查看的评论！","warning");
                return;
            }
            var row = selectedRows[0];
            $("#dlg").dialog("open").dialog("setTitle", "查看评论");
            $.ajax({
                url: "/admin/commentManage/comment/" + row.id,
                type: 'GET',
                success: function (result) {
                    $("#userNamePre").val(result.userName);
                    $("#contentPre").append(result.content);
                }
            });
        }

    </script>
</head>
<body style="margin: 1px;background-image: url('https://cdn.chenjianlink.cn/static/images/background/commentPreviewBackground.jpg');background-size:cover;">
<table id="dg" class="easyui-datagrid"
       fitColumns="true" pagination="true" rownumbers="true"
       th:url="@{/admin/commentManage/comment/list(state=0)}" fit="true" toolbar="#tb">
    <thead>
    <tr>
        <th field="cb" checkbox="true" align="center"></th>
        <th field="id" width="20" align="center">编号</th>
        <th field="blog" width="100" align="center" formatter="formatBlogTitle">日志标题</th>
        <th field="userIp" width="100" align="center">用户IP</th>
        <th field="ipAddressInfo" width="100" align="center">IP信息</th>
        <th field="userName" width="50" align="center">评论者名称</th>
        <th field="content" width="220" align="center">评论内容</th>
        <th field="commentDate" width="80" align="center" formatter="BLOG.formatDateTime">评论日期</th>
    </tr>
    </thead>
</table>
<div id="tb">
    <div>
        <a href="javascript:openCommentViewDialog()" class="easyui-linkbutton" iconCls="icon-search"
           plain="true">查看评论</a>
        <a href="javascript:commentReview(1)" class="easyui-linkbutton" iconCls="icon-ok" plain="true">审核通过</a>
        <a href="javascript:commentReview(2)" class="easyui-linkbutton" iconCls="icon-no" plain="true">审核不通过</a>
    </div>
</div>

<div id="dlg" class="easyui-dialog" style="width:500px;padding: 10px 20px" closed="true" buttons="#dlg-buttons">
    <form id="fm">
        <table cellspacing="8px" style="width: 100%">
            <tr>
                <td>评论者名称：</td>
                <td><input type="text" id="userNamePre" name="userName" class="easyui-validatebox"
                           readonly="readonly"/></td>
            </tr>
            <tr>
                <td>评论内容：</td>
                <td><div style="width: 100%;height: 91px;background-color: #fff;border: 1px solid #00fffe;overflow-y:scroll;" id="contentPre" name="content" class="easyui-validatebox" readonly="readonly"></div></td>
            </tr>
        </table>
    </form>
</div>

<div id="dlg-buttons">
    <a href="javascript:closeCommentDialog()" class="easyui-linkbutton" iconCls="icon-cancel">关闭</a>
</div>

</body>
</html>
