<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>修改日志页面</title>
    <link rel="stylesheet" type="text/css" href="https://chenjianlink-1258070985.file.myqcloud.com/static/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="https://chenjianlink-1258070985.file.myqcloud.com/static/jquery-easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/eazyui-style.css}">
    <link rel="stylesheet" th:unless="${isUeditor}" th:href="@{/editor.md/css/editormd.css}"/>
    <script type="text/javascript" src="https://chenjianlink-1258070985.file.myqcloud.com/static/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="https://chenjianlink-1258070985.file.myqcloud.com/static/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="https://chenjianlink-1258070985.file.myqcloud.com/static/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" charset="UTF-8" th:if="${isUeditor}" th:src="@{/ueditor/ueditor.config.js}"></script>
    <script type="text/javascript" charset="UTF-8" th:if="${isUeditor}" th:src="@{/ueditor/ueditor.all.min.js}"></script>
    <script type="text/javascript" charset="UTF-8" th:if="${isUeditor}" th:src="@{/ueditor/lang/zh-cn/zh-cn.js}"></script>
    <script type="text/javascript" th:unless="${isUeditor}" th:src="@{/editor.md/js/editormd.min.js}"></script>

    <script th:inline="javascript" type="text/javascript">

        var editorMd;

        function submitData(state) {
            var isUeditor = [[${isUeditor}]];
            var title = $("#title").val();
            var blogTypeId = $("#blogTypeId").combobox("getValue");
            var keyWord = $("#keyWord").val().replace(/\s*/g, "");
            var blogId = [[${blogId}]];
            var content;
            var searchContent;
            var mdContent = null;
            var summary;
            if (isUeditor) {
                content = UE.getEditor('editor').getContent();
                searchContent = UE.getEditor('editor').getContentTxt();
                summary = UE.getEditor('editor').getContentTxt().substr(0, 150);
            } else {
                content = editorMd.getPreviewedHTML();
                mdContent = editorMd.getMarkdown();
                //去掉所有的html标记
                searchContent = content.replace(/<[^>]+>/g,"");
                summary = searchContent.substr(0, 150);
            }

            if (title == null || title == '') {
                $.messager.alert("系统提示", "请输入标题！","warning");
            } else if (blogTypeId == null || blogTypeId == '') {
                $.messager.alert("系统提示", "请选择日志类别！","warning");
            } else if (content == null || content == '') {
                $.messager.alert("系统提示", "请输入内容！","warning");
            } else {
                $.ajax(
                    {
                        url: "/admin/blogManage/blog/" + blogId,
                        type: 'PUT',
                        data: {
                            'title': title,
                            'blogType.id': blogTypeId,
                            'content': content,
                            'mdContent': mdContent,
                            'searchContent': searchContent,
                            'summary': summary,
                            'keyWord': keyWord,
                            'state': state,
                            'isUeditor': isUeditor
                        },
                        success: function (result) {
                            if (result != null && result.status == 500) {
                                if (state == 2) {
                                    $.messager.alert("系统提示", "日志修改失败！","error");
                                } else {
                                    $.messager.alert("系统提示", "草稿修改失败！","error");
                                }
                            } else {
                                if (state == 2) {
                                    $.messager.alert("系统提示", "日志修改成功！","info");
                                } else {
                                    $.messager.alert("系统提示", "草稿修改成功！","info");
                                }
                            }
                        },
                        error: function () {
                            if (state == 2) {
                                $.messager.alert("系统提示", "日志修改失败！","error");
                            } else {
                                $.messager.alert("系统提示", "草稿修改失败！","error");
                            }
                        }
                    });
            }
        }
    </script>
</head>
<body style="margin: 1px;background-image: url('https://chenjianlink-1258070985.file.myqcloud.com/static/images/background/modifyBlogInfoBackground.jpg');background-size:cover;">
<div id="p" class="easyui-panel" style="padding: 10px" th:include="admin/writeBlog::writePlain" data-options="fit:true">

</div>

<script th:inline="javascript" th:if="${isUeditor}">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');

    ue.addListener("ready", function () {
        //通过ajax请求数据
        UE.ajax.request("/admin/blogManage/blog/" + [[${blogId}]],
            {
                method: "GET",
                async: false,
                onsuccess: function (result) {
                    result = eval("(" + result.responseText + ")");
                    $("#title").val(result.title);
                    $("#keyWord").val(result.keyWord);
                    $("#blogTypeId").combobox("setValue", result.blogType.id);
                    UE.getEditor('editor').setContent(result.content);
                }
            }
        );
    });
</script>

<script th:inline="javascript" th:unless="${isUeditor}" th:include="admin/writeBlog::editorMd">

</script>
</body>
</html>

