<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>写日志页面</title>
    <link rel="stylesheet" type="text/css" href="https://chenjianlink-1258070985.file.myqcloud.com/static/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="https://chenjianlink-1258070985.file.myqcloud.com/static/jquery-easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/eazyui-style.css}">
    <link rel="stylesheet" th:unless="${isUeditor}" th:href="@{/editor.md/css/editormd.css}" />
    <script type="text/javascript" src="https://chenjianlink-1258070985.file.myqcloud.com/static/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="https://chenjianlink-1258070985.file.myqcloud.com/static/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="https://chenjianlink-1258070985.file.myqcloud.com/static/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" charset="UTF-8" th:if="${isUeditor}" th:src="@{/ueditor/ueditor.config.js}"></script>
    <script type="text/javascript" charset="UTF-8" th:if="${isUeditor}" th:src="@{/ueditor/ueditor.all.min.js}"></script>
    <script type="text/javascript" charset="UTF-8" th:if="${isUeditor}" th:src="@{/ueditor/lang/zh-cn/zh-cn.js}"></script>
    <script type="text/javascript" th:unless="${isUeditor}" th:src="@{/editor.md/js/editormd.min.js}"></script>

    <script type="text/javascript">

        var editorMd;

        function submitData(state) {
            var isUeditor = [[${isUeditor}]];
            var title = $("#title").val();
            var blogTypeId = $("#blogTypeId").combobox("getValue");
            var keyWord = $("#keyWord").val().replace(/\s*/g, "");
            var content;
            var searchContent;
            var mdContent = null;
            var summary;
            if (isUeditor) {
                content = UE.getEditor('editor').getContent();
                searchContent = UE.getEditor('editor').getContentTxt();
                summary = searchContent.substr(0, 150);
            } else {
                content = editorMd.getPreviewedHTML();
                mdContent = editorMd.getMarkdown();
                //去掉所有的html标记
                searchContent = content.replace(/<[^>]+>/g,"");
                summary = searchContent.substr(0, 150);
            }
            if (title == null || title == '') {
                $.messager.alert("系统提示", "请输入标题！","warning");
            } else if (blogTypeId == null || blogTypeId == '') {
                $.messager.alert("系统提示", "请选择日志类别！","warning");
            } else if (content == null || content == '') {
                $.messager.alert("系统提示", "请输入内容！","warning");
            } else {
                $.ajax(
                    {
                        url: "/admin/blogManage/blog",
                        type: 'POST',
                        data: {
                            'title': title,
                            'blogType.id': blogTypeId,
                            'content': content,
                            'mdContent': mdContent,
                            'searchContent': searchContent,
                            'summary': summary,
                            'keyWord': keyWord,
                            'state': state,
                            'isUeditor': isUeditor
                        },
                        success: function (result) {
                            if (result != null && result.status == 500) {
                                if (state == 2) {
                                    $.messager.alert("系统提示", "日志发布失败！","error");
                                } else {
                                    $.messager.alert("系统提示", "草稿保存失败！","error");
                                }
                            } else {
                                if (state == 2) {
                                    $.messager.alert("系统提示", "日志发布成功！","info",function () {
                                        location.reload();
                                    });
                                } else {
                                    $.messager.alert("系统提示", "草稿保存成功！","info",function () {
                                        location.reload();
                                    });
                                }
                            }
                        },
                        error: function () {
                            if (state == 2) {
                                $.messager.alert("系统提示", "日志发布失败！","error");
                            } else {
                                $.messager.alert("系统提示", "草稿保存失败！","error");
                            }
                        }
                    });
            }
        }

    </script>
</head>
<body style="margin: 1px;background-image: url('https://chenjianlink-1258070985.file.myqcloud.com/static/images/background/writeBlogBackground.jpg');background-size:cover">
<div id="p" class="easyui-panel" style="padding: 10px;" th:fragment="writePlain" data-options="fit:true">
    <table cellspacing="20px" width="100%">
        <tr>
            <td width="80px">日志标题：</td>
            <td><input type="text" id="title" name="title" style="width: 400px;background-color:rgba(250,250,250,0)"/>
            </td>
        </tr>
        <tr>
            <td>所属类别：</td>
            <td>
                <select class="easyui-combobox" style="width: 154px;" id="blogTypeId" name="blogType.id" editable="false" panelHeight="auto">
                    <option value="">请选择日志类别...</option>
                    <option th:each="blogType:${blogTypeCountList }" th:value="${blogType.id }">[[${blogType.typeName}]]</option>
                </select>
            </td>
        </tr>
        <tr>
            <td valign="top">日志内容：</td>
            <td th:if="${isUeditor}">
                <script id="editor" type="text/plain" style="width:100%;height:500px;"></script>
            </td>
            <td th:unless="${isUeditor}">
                <div id="editorMd">
                    <textarea class="editormd-markdown-textarea" name="editormd-markdown-doc" id="editormd"></textarea>
                </div>
            </td>
        </tr>
        <tr>
            <td>关键字：</td>
            <td><input type="text" id="keyWord" name="keyWord"
                       style="width: 400px;background-color:rgba(250,250,250,0)"/>&nbsp;(多个关键字中间用","隔开)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="javascript:submitData(1)" class="easyui-linkbutton"
                   data-options="iconCls:'icon-submit'">保存草稿</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="javascript:submitData(2)" class="easyui-linkbutton"
                   data-options="iconCls:'icon-submit'">发布日志</a>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript" th:if="${isUeditor}">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
</script>

<script th:inline="javascript" th:unless="${isUeditor}" th:fragment="editorMd">

    $(function() {
        editorMd = editormd("editorMd", {
            width: "100%",
            height: 740,
            htmlDecode: "style,script,iframe|on*",
            syncScrolling: "single",
            path: "/editor.md/lib/",
            emoji: true,
            theme : "dark",
            editorTheme : "pastel-on-dark",
            previewTheme : "dark",
            searchReplace: true,
            taskList: true,
            tocm: true,                  // Using [TOCM]
            tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: true,             // 开启流程图支持，默认关闭
            sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭
            codeFold: true,
            dialogMaskOpacity: 0.4,      // 设置透明遮罩层的透明度，全局通用，默认值为0.1
            dialogMaskBgColor: "#000",   // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
            imageUpload: false,
            onload: function () {
                var blogId = [[${blogId}]];
                if (blogId != null){
                    $.ajax("/admin/blogManage/blog/" + blogId,
                        {
                            method: "GET",
                            async: false,
                            success: function (result) {
                                $("#title").val(result.title);
                                $("#keyWord").val(result.keyWord);
                                $("#blogTypeId").combobox("setValue", result.blogType.id);
                                editorMd.appendMarkdown(result.mdContent);
                            }
                        });
                }
            }
        });
    });
</script>
</body>
</html>