<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenjianlink.blogv2.mapper.BlogMapper">
    <resultMap id="BlogResult" type="cn.chenjianlink.blogv2.pojo.Blog">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="releaseDate" column="releaseDate"/>
        <result property="updateDate" column="updateDate"/>
        <result property="clickHit" column="clickHit"/>
        <result property="content" column="content"/>
        <result property="keyWord" column="keyWord"/>
        <result property="state" column="state"/>
        <result property="isUeditor" column="isUeditor"/>
        <association property="blogType" column="typeId"
                     select="cn.chenjianlink.blogv2.mapper.BlogTypeMapper.selectByPrimaryKey"></association>
        <association property="replyHit" column="id"
                     select="cn.chenjianlink.blogv2.mapper.CommentMapper.selectCommentCount"></association>
    </resultMap>
    <resultMap id="BlogResultAdmin" type="cn.chenjianlink.blogv2.pojo.Blog">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="releaseDate" column="releaseDate"/>
        <result property="keyWord" column="keyWord"/>
        <result property="isUeditor" column="isUeditor"/>
        <association property="blogType" column="typeId"
                     select="cn.chenjianlink.blogv2.mapper.BlogTypeMapper.selectByPrimaryKey"></association>
    </resultMap>
    <!--查询所有日志的部分信息(可能根据标题查找)-->
    <select id="selectList" parameterType="java.lang.String" resultMap="BlogResult">
        SELECT id, title, releaseDate, updateDate, typeId, state
        FROM t_blog
        <where>
            <if test="_parameter != null and _parameter != ''">
                AND title LIKE '%${_parameter}%'
            </if>
        </where>
        ORDER BY updateDate DESC
    </select>
    <!--根据id查询日志信息（前台查询）-->
    <select id="selectByPrimaryKey" parameterType="int" resultMap="BlogResult">
        SELECT id,
               title,
               releaseDate,
               clickHit,
               content,
               typeId,
               keyWord,
               state,
               isUeditor
        FROM t_blog
        WHERE id = #{id}
    </select>
    <!--根据id查询日志(后台查询)-->
    <select id="selectForAdminByPrimaryKey" parameterType="int" resultMap="BlogResultAdmin">
        SELECT id, title, content, releaseDate, typeId, keyWord, isUeditor
        FROM t_blog
        WHERE id = #{id}
    </select>
    <!--根据id查询Markdown源码(后台查询)-->
    <select id="selectMdContentByPrimaryKey" parameterType="int" resultType="java.lang.String">
        SELECT mdContent
        FROM t_blog_md
        WHERE id = #{id}
    </select>
    <!--删除blog-->
    <delete id="delete" parameterType="int[]">
        DELETE t_blog, t_blog_md FROM t_blog LEFT JOIN t_blog_md ON t_blog.id = t_blog_md.id
        WHERE t_blog.id IN
        <if test="array != null">
            <foreach collection="array" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </delete>
    <!--更新日志-->
    <update id="update" parameterType="cn.chenjianlink.blogv2.pojo.Blog">
        UPDATE t_blog
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="summary != null and summary != ''">
                summary = #{summary},
            </if>
            <if test="clickHit != null">
                clickHit = #{clickHit},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="blogType.id != null">
                typeId = #{blogType.id},
            </if>
            keyWord = #{keyWord},
            <if test="releaseDate != null">
                releaseDate = #{releaseDate},
            </if>
            <if test="updateDate != null">
                updateDate = #{updateDate},
            </if>
            <if test="state != null">
                state = #{state}
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <!--更新markdown源文件-->
    <update id="updateMarkdown" parameterType="cn.chenjianlink.blogv2.pojo.Blog">
        UPDATE t_blog_md
        SET id        = #{id},
            mdContent = #{mdContent}
        WHERE id = #{id}
    </update>
    <!--添加新日志-->
    <insert id="insert" parameterType="cn.chenjianlink.blogv2.pojo.Blog" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO t_blog (title, summary, releaseDate, updateDate, clickHit, content, typeId, keyWord, state, isUeditor)
        VALUES (#{title}, #{summary}, #{releaseDate}, #{updateDate}, 0, #{content}, #{blogType.id}, #{keyWord}, #{state}, #{isUeditor})
    </insert>
    <!--添加markdown文本-->
    <insert id="insertMarkdown" parameterType="cn.chenjianlink.blogv2.pojo.Blog">
        INSERT INTO t_blog_md (id, mdContent)
        VALUES (#{id}, #{mdContent})
    </insert>
    <!--按发布日期查询日志总数-->
    <select id="selectCountList" resultMap="BlogResult">
        SELECT DATE_FORMAT(releaseDate, '%Y-%m ') AS releaseDateStr, COUNT(*) AS blogCount
        FROM t_blog
        WHERE state = 2
        GROUP BY DATE_FORMAT(releaseDate, '%Y-%m ')
        ORDER BY DATE_FORMAT(releaseDate, '%Y-%m ') DESC
    </select>
    <!--根据日志日期，日志类别查询日志列表,按日志发布日期排序-->
    <select id="selectListAll" parameterType="Map" resultMap="BlogResult">
        SELECT id, title, summary, releaseDate, updateDate, clickHit, content, typeId, keyWord
        FROM t_blog
        <where>
            <if test="typeId != null">
                AND typeId = #{typeId}
            </if>
            <if test="releaseDateStr != null and releaseDateStr != ''">
                AND DATE_FORMAT(releaseDate,'%Y-%m ') = #{releaseDateStr}
            </if>
            AND state = 2
        </where>
        ORDER BY updateDate DESC
    </select>
    <!--查询blog总记录数-->
    <select id="selectCount" parameterType="Map" resultType="int">
        SELECT COUNT(id)
        FROM t_blog
        <where>
            <if test="typeId != null">
                AND typeId = #{typeId}
            </if>
            <if test="releaseDateStr != null and releaseDateStr != ''">
                AND DATE_FORMAT(releaseDate,'%Y-%m ') = #{releaseDateStr}
            </if>
            AND state = 2
        </where>
    </select>
    <!--查询上一篇日志-->
    <select id="selectPre" parameterType="java.util.Date" resultType="cn.chenjianlink.blogv2.pojo.Blog">
        SELECT id, title
        FROM t_blog
        WHERE updateDate <![CDATA[ > ]]> #{date}
          AND state = 2
        LIMIT 1
    </select>
    <!--查询下一篇日志-->
    <select id="selectNext" parameterType="java.util.Date" resultType="cn.chenjianlink.blogv2.pojo.Blog">
        SELECT id, title
        FROM t_blog
        WHERE updateDate <![CDATA[ < ]]> #{date}
          AND state = 2
        LIMIT 1
    </select>
    <!--用于更新日志索引的查询-->
    <select id="selectBlogForIndex" resultType="cn.chenjianlink.blogv2.pojo.Blog">
        SELECT id, title, content, releaseDate
        FROM t_blog
        WHERE state = 2
    </select>
    <!--根据id查询日志信息-->
    <select id="selectTitleByPrimaryKey" parameterType="int" resultType="cn.chenjianlink.blogv2.pojo.Blog">
        SELECT id, title
        FROM t_blog
        WHERE id = #{id}
    </select>
    <!--查询日志对应的编辑器类型-->
    <select id="selectEditorById" parameterType="int" resultType="cn.chenjianlink.blogv2.pojo.Blog">
        SELECT isUeditor, state
        FROM t_blog
        WHERE id = #{id}
    </select>
    <!--查询日志id对应的发布日期-->
    <select id="selectReleaseDate" parameterType="int" resultType="java.util.Date">
        SELECT releaseDate FROM t_blog WHERE id = #{id}
    </select>
</mapper>