<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenjianlink.blogv2.mapper.CommentMapper">
    <resultMap id="CommentResult" type="cn.chenjianlink.blogv2.pojo.Comment">
        <result property="id" column="id"/>
        <result property="userIp" column="userIp"/>
        <result property="ipAddressInfo" column="ipAddressInfo"/>
        <result property="userName" column="userName"/>
        <result property="content" column="content"/>
        <result property="commentDate" column="commentDate"/>
        <result property="state" column="state"/>
        <association property="blog" column="blogId"
                     select="cn.chenjianlink.blogv2.mapper.BlogMapper.selectTitleByPrimaryKey"></association>
    </resultMap>
    <!--评论列表显示-->
    <select id="selectList" parameterType="Map" resultMap="CommentResult">
        SELECT id, INET_NTOA(userIp) AS userIp, ipAddressInfo, userName, content, commentDate, state, blogId
        FROM t_comment
        <where>
            <if test="state != null">
                AND state = #{state}
            </if>
        </where>
        <choose>
            <when test="state != null and state == 1">
                ORDER BY commentDate
            </when>
            <otherwise>
                ORDER BY commentDate DESC
            </otherwise>
        </choose>
    </select>
    <!--前台评论列表显示-->
    <select id="selectCommentByBlogId" parameterType="int" resultType="cn.chenjianlink.blogv2.pojo.Comment">
        SELECT t_comment.id, t_comment.userName, t_comment.content, t_comment.commentDate, t_comment_reply.reply
        FROM t_comment LEFT JOIN t_comment_reply ON t_comment.id = t_comment_reply.id
        WHERE t_comment.blogId = #{blogId}
          AND t_comment.state = 1
        ORDER BY t_comment.commentDate DESC
    </select>
    <!--删除评论-->
    <delete id="delete" parameterType="int[]">
        DELETE t_comment, t_comment_reply FROM t_comment LEFT JOIN t_comment_reply ON t_comment.id = t_comment_reply.id
        WHERE t_comment.id IN
        <if test="array != null">
            <foreach collection="array" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </delete>
    <!--根据blogId查询评论总数-->
    <select id="selectCommentCount" parameterType="int" resultType="int">
        SELECT COUNT(id)
        FROM t_comment
        WHERE blogId = #{blogId}
          AND state = 1
    </select>
    <!--审核通过-->
    <update id="updateStateAsAdopt" parameterType="int[]">
        UPDATE t_comment
        SET state = 1
        WHERE id IN
        <if test="array != null">
            <foreach collection="array" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </update>
    <!--审核不通过-->
    <update id="updateStateAsFail" parameterType="int[]">
        UPDATE t_comment
        SET state = 2
        WHERE id IN
        <if test="array != null">
            <foreach collection="array" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </update>
    <!--插入新评论-->
    <insert id="insert" parameterType="cn.chenjianlink.blogv2.pojo.Comment">
        INSERT INTO t_comment (userIp, ipAddressInfo, userName, blogId, content, commentDate, state)
        VALUES (INET_ATON(#{userIp}), #{ipAddressInfo}, #{userName}, #{blog.id}, #{content}, #{commentDate}, 0)
    </insert>
    <!--根据评论id查询评论-->
    <select id="selectByPrimaryKey" parameterType="int" resultType="cn.chenjianlink.blogv2.pojo.Comment">
        SELECT comment.id, comment.userName, comment.content, reply.reply, comment.state
        FROM t_comment comment LEFT JOIN t_comment_reply reply ON comment.id = reply.id
        WHERE comment.id = #{id}
    </select>
    <!--插入新评论回复-->
    <insert id="insertReply" parameterType="cn.chenjianlink.blogv2.pojo.Comment">
        INSERT INTO t_comment_reply (id, reply) VALUES (#{id}, #{reply})
    </insert>
    <!--更新评论回复-->
    <update id="updateReply" parameterType="cn.chenjianlink.blogv2.pojo.Comment">
        UPDATE t_comment_reply SET reply = #{reply} WHERE id = #{id}
    </update>
    <!--删除评论回复-->
    <delete id="deleteReply" parameterType="int">
        DELETE FROM t_comment_reply WHERE id = #{id}
    </delete>
</mapper>