<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="errorPage">

<!-- Head -->
<head>

    <title>哦豁，出错了</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords"
          content="Random Error Page Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //Meta-Tags -->

    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" media="all"/>

    <!-- Style -->
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all">
    <link th:href="@{/images/favicon.ico}" rel="SHORTCUT ICON">
</head>
<!-- //Head -->

<!-- Body -->
<body>

<h1>局外人 <span>之</span> 秘境</h1>
<div class="w3layout-agileits">
    <h2>404 </h2>
    <h3>您寻找的圣物不存在</h3>
    <p>Something went wrong</p>
    <p>Go back to your home page</p>
    <a th:href="@{/homepage}"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Return Home</a>
</div>

<div class="w3footeragile">
    <div style="width:300px;margin:0 auto;" align="center">
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802028222" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img th:src="@{/images/Filing.png}" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px;">京公网安备 11010802028222号</p></a>
    </div>
    <p>Copyright &copy; 2019 chenjianlink All Rights Reserved.</p>
</div>

</body>

</html>
